$fuente-primaria: 'Montserrat', sans-serif;
$color-fondo: #0d0d0d;          
$color-fondo2: #1a1a1a;          
$color-btn: #007bff;             
$color-btn--hover: #0056b3;      
$color-btn--active: #004080;     
$color-btn--active2: #808080;